[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"

[dev-packages]
molecule = "*"
ansible = "*"
"flake8" = "*"
python-vagrant = "*"

[requires]
python_version = "3.6"
